# Archivos de Visual Studio
.vs/
*.vsidx

# Binarios y compilados
bin/
obj/

# Configuración de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación y temporales
bin/
obj/
*.log
*.cache
*.tmp
